form.form-login(role='form', name='loginForm')

  h2.form-login-header 天外天后台登录
  input.form-control(type='text', name='username', placeholder='帐号', ng-model='user.username', required, autofocus)
  input.form-control(type='password', name='password', placeholder='密码', ng-model='user.password', required)
  button.btn.btn-lg.btn-primary.btn-block(ng-click='login()', ng-disabled='!loginForm.$valid') 登录
